@media only screen and  (min-width: 993px) {
  .brand-logo{
  	left: 40%;

  }
}
/* modal component responsive */
/* ........................................ */
@media only screen and  (max-width: 273px) {
	h4.modal-title{
		font-size: 1.5rem;
	}	
}
@media only screen and  (max-width: 289px) {
	i.modal-close{
		display: none;
	}	
}
@media only screen and  (max-width: 257px) {
	.card.s2 span{
		display: inline-block;
		/* font-size:1rem!important ; */
		/* display: none; */
	}
	.card.s2 i{
		
		padding-top: 0.0rem;
		margin-left:8%;
		/* font-size: 2rem; */
		float: inline-end;
	}
	.card.s2 {
		
		margin: auto;
		margin-bottom: 12px;
		padding: 0px!important;
	}

}
@media only screen and  (max-width: 360px) {
	.modal{ 
		width: 80%;
	}	
}
@media only screen and  (min-width: 258px) {
		.card.s2 span{
			display: initial;
		}
}		

/* ......................................... */
/* modal component responsive */


.dropdown-trigger{
	width: 24%;
	margin: 0px;
	padding: 5px;
	padding-top: 0px;
	font-size: 80%;
}

.input-field{
	    width: 23% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    border-radius: 3px;
}

.input-field label{

	left :10% !important;
	top : -35px !important;
	font-size: 1rem;

}

.m-etiqueta-producto{
	display: flex;
	justify-content: center;
}

.etiqueta-producto{
	display: inline-block;
	margin: 0 0 0 0;
}

div.row{
	margin-bottom: 10px;
}

.variante{
	margin-bottom: 10px;
}
.variante div.Ddown{
	margin: 0px;
}

/* codigo css para drop down de productos */
ul.menu {
	float:left;
	display:block;
	margin-top: 0px;
	list-style-type:none;
	margin-right: 8px;
	}
	.menu li {
	line-height:18px;
	font-size:18px;
	position:relative;
	float:left;
	}
	.menu li a.down-leyend {
	font-size: x-large;
    height: 1.9rem;
    padding-top: 5px;
	text-align: center;

	display: inline-block;
	width: 50px;
	color: #fff;
	/* text-transform:uppercase; */
	
	text-decoration:none;
	vertical-align: sub;
	border-bottom: white solid 1px;
    /* border-radius: 100px; */
	}
	.menu li ul a{
	color: #fff;
	text-transform:uppercase;
	padding: 0px;
	text-decoration:none;
	vertical-align: sub;
	}

	.menu li a.down-leyend:hover {
		border-radius: 10px;
		background: #313131;
		color: white;
		}
	.menu li a:hover {
	background: #4497D8;
	color: white;
	}
	.menu li ul {
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	padding-top: 8px;
	z-index: 100;
	display:none;
	position:absolute;
	top:15px;
	width: 80px;
    background-color: #1C1C1C;
    padding: 0;
	list-style-type: none;
	text-align: center;
	/* margin-left: 2px; */
	}
	.menu li ul li {
	    width: 80%;
    	margin: 10%;
    	margin-top: 0px;
    	margin-bottom: 15px;
    	padding-top: 7.5px;
    	border: none;
    	border-top: 2px dotted #313131;
	}
	.menu li ul li:first-child {
		border-top: none;
		/* margin-bottom: 8px; */
		margin-top: 10px;
	}
   .menu li ul li a {
	width: 240px;
	margin: 0;
	padding:0;
	}
   .menu li ul li a:hover {
	width: 240px;
	margin: 0;
	color: #4497D8;
	background:none;
	}
	.Ddown{
		background-color:#00B35C;
		height: 35px;
		border-radius: 10px;
		padding: 3px 10px;
	}