@media (min-width: 993px) {
  .brand-logo{
  	left: 40%;

  }
}

.dropdown-trigger{
	width: 24%;
	margin: 0px;
	padding: 5px;
	padding-top: 0px;
	font-size: 80%;
}

.input-field{
	    width: 23% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    border-radius: 3px;
}

.input-field label{

	left :10% !important;
	top : -35px !important;
	font-size: 1rem;

}

.m-etiqueta-producto{
	display: flex;
	justify-content: center;
}

.etiqueta-producto{
	display: inline-block;
	margin: 0 0 0 0;
}

div.row{
	margin-bottom: 10px;
}

.variante{
	margin-bottom: 10px;
}
.variante div.Ddown{
	margin: 0px;
}

/* codigo css para drop down de productos */
ul.menu {
	float:left;
	display:block;
	margin-top: 0px;
	list-style-type:none;
	margin-right: 8px;
	}
	.menu li {
	line-height:18px;
	font-size:13px;
	position:relative;
	float:left;
	}
	.menu li a {
	color: #fff;
	text-transform:uppercase;
	padding: 0px;
	text-decoration:none;
	vertical-align: sub;
	}
	.menu li a:hover {
	background: #9c0101;
	color: white;
	}
	.menu li ul {
	z-index: 100;
	display:none;
	position:absolute;
	top:20px;
	width: 60px;
    background-color: #1C1C1C;
    padding: 0;
    list-style-type: none;
	}
	.menu li ul li {
	    width: 60px;
    	border: none;
    	border-top: 2px dotted #313131;
    	padding: 1px 5px;
	}
	.menu li ul li:first-child {
	    border-top: none;
	}
   .menu li ul li a {
	width: 240px;
	margin: 0;
	padding:0;
	}
   .menu li ul li a:hover {
	width: 240px;
	margin: 0;
	color: #9c0101;
	background:none;
	}
	.Ddown{
		background-color:#00B35C;
		height: 35px;
		border-radius: 10px;
		padding: 5px 15px;
	}